main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img#img {
    width: 20rem;
    height: 30rem;
}

div#button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    width: 8rem;
    height: 3rem;
    background-color: rgb(194, 194, 194);
    border: solid 0.15rem black;
    border-radius: 0.4rem;
    font-size: 1rem;
}

img#key {
    width: 2rem;
    height: 1rem;
    opacity: 10%;
}

input {
    position: absolute;
    left: 43.5rem;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}