body {
    background: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

button {
    background: rgb(43, 0, 43);
    color: white;
    font-size: 5rem;
    width: 20rem;
    height: 10rem;
    border: double 1rem white;
}